<header class="header-2">
    <div class="wrapper">
        <div class="header-2__content">
            <a href="#" class="logo">Logo</a>
            <nav class="menu">
                <button class="toggle-menu">
                    <div class="toggle-menu__lines"></div>
                </button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">About</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>