@import './base';

.menu {
    &__list {
        display: flex;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin-right: 10px;
        
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-transform: uppercase;
        display: block;
        color: #333;
        font-size: 14px;

        &:hover {
            color: #777;
        }
    }
    
    &_active {
        .toggle-menu__lines {
            margin-bottom: 4px;
            width: 0;
            transition: width 0s;

            &:before {
                top: 0;
                border-radius: 2px;
                transform: rotate(-45deg);
            }
            
            &:after {
                border-radius: 2px;
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}

.toggle-menu {
    $toggleColor: #000;
    $toggleLineHeight: 4px;
    $toggleLineWidth: 30px;
    $toggleBorderRadius: 2px;
    $toggleTransition: .3s;
    display: none;
    height: calc(#{$toggleLineHeight} * 5);
    position: relative;
    width: $toggleLineWidth;
    cursor: pointer;
    background: none;
    border: none;

    &:focus {
        outline: none;
    }

    &__lines {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: $toggleLineHeight;
        width: $toggleLineWidth;
        background: $toggleColor;
        border-radius: $toggleBorderRadius;
        transition: width $toggleTransition;

        &:before {
            content: '';
            position: absolute;
            top: -200%;
            right: 0;
            background: $toggleColor;
            height: $toggleLineHeight;
            width: $toggleLineWidth;
            border-radius: $toggleBorderRadius;
            transition: transform $toggleTransition;
            transform: rotate(0deg);
        }

        &:after {
            content: '';
            position: absolute;
            top: 200%;
            right: 0;
            background: $toggleColor;
            height: $toggleLineHeight;
            width: $toggleLineWidth;
            border-radius: $toggleBorderRadius;
            transition: transform $toggleTransition;
        }
    }
    
    &_active {
        .toggle-menu__lines {
            margin-bottom: 4px;
            width: 0;
            transition: width 0s;

            &:before {
                top: 0;
                border-radius: 2px;
                transform: rotate(-45deg);
            }

            &:after {
                border-radius: 2px;
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu {
        position: relative;

        &__list {
            position: absolute;
            top: 100%;
            right: -15px;
            transition: all .3s;
            display: block;
            margin: 0;
            text-align: right;
            background: #fff;
            box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
            width: 0;
            overflow: hidden;
            margin-top: 17px;
            z-index: 2;
        }

        &__item {
            margin: 10px 0;
            padding: 10px;
        }

        &_active {
            .menu__list {
                width: 200px;
            }
        }
    }

    .toggle-menu {
        display: block;
    }
}