.cb-form {
    max-width: 800px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 15px;

    &__item {
        margin-bottom: 20px;
    }

    &__label {
        color: #333;
    }

    &__field {
        display: block;
        width: 100%;
        padding: 8px 10px;
        outline-color: #63aaf5;
        border: 1px solid #c3c3c3;
        border-radius: 5px;
        margin-top: 5px;

        &_area {
            resize: none;
            height: 90px;
        }

        &_error {
            border-color: rgb(197, 15, 15);
        }
    }

    &__feedback {
        font-size: 14px;
        margin-top: 3px;
        color: red;
    }

    &__submit {
        padding: 10px 12px;
        background: #0964c5;
        border: none;
        cursor: pointer;
        color: #ffffff;
        transition: background .2s;
        border-radius: 4px;
        outline-color: #63aaf5;
        outline-width: 3px;

        &:hover {
            background: #1b73d1;
        }
    }
}