@import './base';

.search {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__toggle {
        position: relative;
        display: none;
        width: 22px;
        height: 22px;
    }

    &__field {
        width: 300px;
        max-width: 100%;
        padding: 10px;
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 6px;
        outline: none;
        color: #333;
        transition: border .2s, color .2s;

        &::placeholder {
            color: #aaa;
        }
        
        &:focus {
            border: 1px solid #c1c1c1;

            &::placeholder {
                color: #ddd;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .search {
        order: 3;
        position: relative;

        &__toggle {
            display: block;
        }

        &__icon {
            max-width: 100%;
        }

        &__field {
            transform: translateY(calc(-100%));
            opacity: 0;
            visibility: hidden;
            transition: transform .3s, visibility .3s, opacity .3s;
            margin-left: 10px;
        }

        &_active {
            .search__field {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .search {
        position: initial;
        
        &__field {
            top: 65px;
            left: 0;
            width: 100%;
            border-radius: 2px;
            padding: 12px;
        }
    }
}