<form class="form-1" novalidate>
    <div class="form-1__item">
        <label for="exampleName" class="form-1__label">Name</label>
        <input type="text" id="exampleName" name="name" class="form-1__field"
            autocomplete="off">
        <div class="form-1__feedback"></div>
    </div>
    <div class="form-1__item">
        <label for="exampleEmail" class="form-1__label">Email address</label>
        <input type="email" id="exampleEmail" name="email" class="form-1__field"
            autocomplete="off">
        <div class="form-1__feedback"></div>
    </div>
    <div class="form-1__item">
        <label for="exampleComment" class="form-1__label">Comment</label>
        <textarea id="exampleEmail" name="comment" class="form-1__field form-1__field_area"
            autocomplete="off"></textarea>
        <div class="form-1__feedback"></div>
    </div>
    <button type="submit" class="form-1__submit">Submit</button>
</form>