@@include('./../../template-parts/site-header.html')
@@include('./../../template-parts/sidebar.html')
<div class="content">
    <article class="article">
        <header class="article__header">
            <h1 class="title article__title">Footer</h1>
        </header>
        <div class="article__example">
            <div class="article__example-body">
@@include('./../../../components/html/footers/footer-1.html')
            </div>
        </div>
        <p class="article__title2">Source HTML</p>
        <div class="article__source">
            <pre>
                <code class="html">
@@include('./../../../components/html/footers/footer-1.html')
                </code>
            </pre>
        </div>
        <p class="article__title2">Source SCSS</p>
        <div class="article__source">
            <pre>
                <code class="scss">
@@include('./../../../components/scss/footers/footer-1.scss')
                </code>
            </pre>
            <div class="article__original article__original_scss">@@include('./../../../components/scss/footers/footer-1.scss')</div>
        </div>
    </article>
</div>
@@include('./../../template-parts/site-footer.html')