@import url(../css/atom-one-light.css);
@import url(../../../node_modules/normalize.css/normalize.css);
.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.menu__list {
  display: flex;
  padding: 0;
  list-style: none; }

.menu__item {
  margin-right: 10px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  text-transform: uppercase;
  display: block;
  color: #333;
  font-size: 14px; }
  .menu__link:hover {
    color: #777; }

.menu_active .toggle-menu__lines {
  margin-bottom: 4px;
  width: 0;
  transition: width 0s; }
  .menu_active .toggle-menu__lines:before {
    top: 0;
    border-radius: 2px;
    transform: rotate(-45deg); }
  .menu_active .toggle-menu__lines:after {
    border-radius: 2px;
    top: 0;
    transform: rotate(45deg); }

.toggle-menu {
  display: none;
  height: calc(4px * 5);
  position: relative;
  width: 30px;
  cursor: pointer;
  background: none;
  border: none; }
  .toggle-menu:focus {
    outline: none; }
  .toggle-menu__lines {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 30px;
    background: #000;
    border-radius: 2px;
    transition: width 0.3s; }
    .toggle-menu__lines:before {
      content: '';
      position: absolute;
      top: -200%;
      right: 0;
      background: #000;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      transition: transform 0.3s;
      transform: rotate(0deg); }
    .toggle-menu__lines:after {
      content: '';
      position: absolute;
      top: 200%;
      right: 0;
      background: #000;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      transition: transform 0.3s; }
  .toggle-menu_active .toggle-menu__lines {
    margin-bottom: 4px;
    width: 0;
    transition: width 0s; }
    .toggle-menu_active .toggle-menu__lines:before {
      top: 0;
      border-radius: 2px;
      transform: rotate(-45deg); }
    .toggle-menu_active .toggle-menu__lines:after {
      border-radius: 2px;
      top: 0;
      transform: rotate(45deg); }

@media screen and (max-width: 768px) {
  .menu {
    position: relative; }
    .menu__list {
      position: absolute;
      top: 100%;
      right: -15px;
      transition: all .3s;
      display: block;
      margin: 0;
      text-align: right;
      background: #fff;
      box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.25);
      width: 0;
      overflow: hidden;
      margin-top: 17px;
      z-index: 2; }
    .menu__item {
      margin: 10px 0;
      padding: 10px; }
    .menu_active .menu__list {
      width: 200px; }
  .toggle-menu {
    display: block; } }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.tabs {
  border: 1px solid #d9d9d9;
  max-width: 90%;
  margin: 0 auto; }
  .tabs__nav {
    display: flex; }
    .tabs__nav-btn {
      padding: 10px 15px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: background .3s, border .3s;
      background: #f3f3f3;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9; }
      .tabs__nav-btn:hover {
        background: #ddd; }
      .tabs__nav-btn_active {
        background: #fff;
        border-bottom-color: #fff; }
        .tabs__nav-btn_active:hover {
          background: #fff; }
  .tabs__item {
    width: 100%;
    padding-left: 15px;
    display: none; }
    .tabs__item_active {
      display: block; }
  @media screen and (max-width: 640px) {
    .tabs__nav {
      flex-direction: column; }
      .tabs__nav-btn {
        display: block; }
        .tabs__nav-btn:hover {
          background: #f3f3f3; }
        .tabs__nav-btn_active:hover {
          background: #fff; } }

img {
  width: 400px;
  max-width: 100%; }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.accordion {
  width: 500px;
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  margin: 50px auto; }
  .accordion__item[open] .accordion__body {
    animation: fadeIn .5s ease-in-out; }
  .accordion__item[open] .accordion__title:before {
    background: url("../images/icons/angle-up.svg") center center no-repeat; }
  .accordion__title {
    position: relative;
    outline-color: #f1f1f1;
    cursor: pointer;
    padding: 7px;
    outline: none; }
    .accordion__title::-webkit-details-marker {
      display: none; }
    .accordion__title::-moz-list-bullet {
      list-style-type: none; }
    .accordion__title::marker {
      display: none; }
    .accordion__title:before {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      background: url("../images/icons/angle-down.svg") center center no-repeat;
      width: 10px;
      height: 10px; }
  .accordion__body {
    padding: 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

body {
  min-height: 1500px; }

.up-btn {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  border: none;
  background: #e1e1e1;
  border-radius: 50%;
  cursor: pointer;
  transition: visibility .3s, opacity .3s;
  outline: none; }
  .up-btn__arrow {
    width: 20px; }
  .up-btn_hide {
    visibility: hidden;
    opacity: 0; }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.search {
  margin-left: auto;
  display: flex;
  align-items: center; }
  .search__toggle {
    position: relative;
    display: none;
    width: 22px;
    height: 22px; }
  .search__field {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
    color: #333;
    transition: border .2s, color .2s; }
    .search__field::placeholder {
      color: #aaa; }
    .search__field:focus {
      border: 1px solid #c1c1c1; }
      .search__field:focus::placeholder {
        color: #ddd; }

@media screen and (max-width: 1200px) {
  .search {
    order: 3;
    position: relative; }
    .search__toggle {
      display: block; }
    .search__icon {
      max-width: 100%; }
    .search__field {
      transform: translateY(calc(-100%));
      opacity: 0;
      visibility: hidden;
      transition: transform .3s, visibility .3s, opacity .3s;
      margin-left: 10px; }
    .search_active .search__field {
      transform: translateY(0);
      visibility: visible;
      opacity: 1; } }

@media screen and (max-width: 620px) {
  .search {
    position: initial; }
    .search__field {
      top: 65px;
      left: 0;
      width: 100%;
      border-radius: 2px;
      padding: 12px; } }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  width: 100%; }
  .header__top {
    background: #1e1e1e;
    position: relative; }
    .header__top-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0; }
  .header__worktime {
    display: flex;
    margin-left: -15px; }
  .header__text {
    margin: 0 0 0 15px;
    padding-right: 15px;
    color: #777;
    font-size: 12px; }
    .header__text:not(:last-child) {
      border-right: 1px solid #777; }
  .header__phone {
    position: relative;
    color: #777;
    font-size: 12px;
    transition: color .2s;
    text-decoration: none;
    padding-left: 25px; }
    .header__phone:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url("../images/icons/phone-call.svg");
      width: 16px;
      height: 16px;
      display: block;
      color: #777; }
    .header__phone:hover {
      color: #999; }
  .header__bottom {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 0; }
    .header__bottom-content {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.logo {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'PostNoBillsJaffna', sans-serif;
  color: #333;
  text-decoration: none; }

@media screen and (max-width: 768px) {
  .header__worktime {
    display: none; } }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px; }

.card {
  width: calc(25% - 30px);
  margin: 15px;
  border: 1px solid #d9d9d9;
  transition: transform .3s, box-shadow .3s;
  border-radius: 5px; }
  .card__img {
    width: 100%; }
  .card__body {
    padding-left: 15px;
    padding-bottom: 15px; }
  .card__title {
    font-weight: 500;
    font-size: 1.3em; }
  .card__text {
    line-height: 1.4; }
  .card__btn {
    padding: 10px 12px;
    background: #0964c5;
    border: none;
    cursor: pointer;
    color: #ffffff;
    transition: background .2s;
    border-radius: 4px;
    outline-color: #63aaf5;
    outline-width: 3px; }
    .card__btn:hover {
      background: #1b73d1; }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.15); }

@media screen and (max-width: 1200px) {
  .card {
    width: calc(50% - 30px); } }

@media screen and (max-width: 768px) {
  .cards-list {
    margin-left: 0;
    margin-right: 0; }
  .card {
    width: calc(100%);
    margin-left: 0;
    margin-right: 0; } }

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.footer {
  background: #eee;
  padding: 20px 0;
  font-family: 'Open Sans', sans-serif;
  color: #636363;
  /**
    * Footer adaptive
    */ }
  .footer__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .footer__title {
    color: inherit;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0; }
  .footer__column {
    margin: 0 15px; }
  .footer__item {
    margin: 5px 0;
    color: inherit; }
  .footer__address {
    margin: 20px 0; }
  .footer__link {
    color: inherit;
    text-decoration: none;
    transition: color .1s;
    font-size: 15px;
    line-height: 1.7; }
    .footer__link:visited {
      color: inherit; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__copyright {
    color: inherit;
    font-size: 12px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    border-top: 1px solid #c9c9c9;
    line-height: 1.7; }
  .footer__btn {
    color: #e9e9e9;
    background: #555;
    padding: 12px 15px;
    border: none;
    cursor: pointer; }
  @media screen and (max-width: 980px) {
    .footer__column {
      width: calc(50% - 30px);
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px; } }
  @media screen and (max-width: 480px) {
    .footer__columns {
      margin-left: 0;
      margin-right: 0; }
    .footer__column {
      width: 100%;
      text-align: center;
      margin-left: 0;
      margin-right: 0; }
    .footer__copyright {
      text-align: center; } }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column; }

img {
  max-width: 100%; }

.site-wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.site-title {
  color: #1d2329;
  font-weight: 400;
  font-size: 38px; }

.site-header {
  background: #1d2329;
  display: flex;
  align-items: center;
  padding: 7px 18px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.15);
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  z-index: 3; }
  .site-header__social-links {
    margin-left: auto; }
  .site-header__menu {
    margin-left: 30px; }
    .site-header__menu .toggle-menu__lines {
      background: #f7f7f7; }
      .site-header__menu .toggle-menu__lines:before, .site-header__menu .toggle-menu__lines:after {
        background: #f7f7f7; }
    .site-header__menu .menu__link {
      color: #f1f1f1;
      text-decoration: none; }

.site-logo {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.3); }

.social-links__link {
  width: 22px;
  height: 22px;
  display: block; }

.main {
  flex: 1 0 auto;
  display: flex;
  padding-top: 60px; }

.sidebar {
  width: 300px;
  max-width: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15); }
  .sidebar__components {
    position: fixed;
    width: 300px; }

.content {
  flex: 1 1 auto; }

.components {
  padding-top: 15px; }
  .components__title {
    font-size: 16px;
    text-transform: uppercase;
    color: #1d2329;
    padding-left: 15px; }
  .components__link {
    text-decoration: none;
    color: #999;
    padding: 10px 15px;
    display: block;
    transition: color .2s, background .2s; }
    .components__link:hover {
      color: #333;
      background: #f3f3f3; }

.article {
  padding: 20px 20px 20px 35px; }
  .article__title {
    margin: 0;
    font-weight: 600;
    color: #353535; }
  .article__title2 {
    font-size: 28px;
    margin: 0; }
  .article__example {
    margin: 30px 0;
    padding: 35px 15px 15px;
    border: 4px solid #f3f3f3;
    position: relative; }
    .article__example:hover .article__copy {
      opacity: 1;
      visibility: visible; }
  .article__source {
    position: relative; }
    .article__source:hover .article__copy {
      opacity: 1;
      visibility: visible; }
  .article__original {
    display: none;
    width: 0; }
  .article__copy {
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s; }
    .article__copy-btn {
      background: none;
      font-size: 12px;
      border: 1px solid #999;
      cursor: pointer;
      transition: color .2s, background .2s; }
      .article__copy-btn:hover {
        color: #fff;
        background: #999; }
  .article__text {
    color: #333; }
  .article pre {
    margin: 0;
    overflow-x: scroll; }
  .article code {
    padding: 10px 15px;
    line-height: 1.4;
    width: 800px;
    white-space: pre;
    font-size: 16px; }

.site-footer {
  background: #eee;
  flex: 0 0 auto;
  padding: 20px 0; }

.footer-menu {
  display: flex; }
  .footer-menu__item {
    margin-right: 20px; }
    .footer-menu__item:last-child {
      margin-right: 0; }
  .footer-menu__link {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px; }
    .footer-menu__link:hover {
      color: #777; }

.message-popup {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s; }
  .message-popup__text {
    background: #1d2329;
    color: #ffffff;
    padding: 10px 15px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.15);
    display: inline-block;
    max-width: 90%;
    animation: fadeInOut 3s forwards; }
  .message-popup_show {
    opacity: 1;
    visibility: visible; }

@media screen and (max-width: 1290px) {
  .main {
    flex-direction: column; }
  .sidebar {
    width: 100%;
    display: flex; }
    .sidebar__components {
      position: relative;
      width: auto;
      margin: 0 auto; }
  .components {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 0; }
    .components__title {
      padding-left: 20px;
      width: 100%;
      display: none; }
    .components__link {
      font-size: 14px;
      padding: 5px 20px; }
  .article {
    padding-left: 20px;
    padding-right: 20px; }
    .article pre {
      width: calc(100vw - 55px); } }

@media screen and (max-width: 768px) {
  .site-header {
    padding-top: 10px;
    padding-bottom: 10px; }
    .site-header__site-logo {
      order: 2; }
    .site-header__menu {
      order: 2;
      margin-left: auto; }
      .site-header__menu .menu__list {
        height: 100vh; }
      .site-header__menu .menu__link {
        color: #333; }
    .site-header__social-links {
      margin-left: 0;
      margin-right: auto; } }

@media screen and (max-width: 480px) {
  .components__link {
    font-size: 12px; } }
