<footer class="footer-1">
    <div class="wrapper">
        <div class="footer-1__columns">
            <div class="footer-1__column">
                <p class="footer-1__title">Information</p>
                <div class="footer-1__item"><a href="/" class="footer-1__link">Service</a></div>
                <div class="footer-1__item"><a href="/" class="footer-1__link">Clients</a></div>
                <div class="footer-1__item"><a href="/" class="footer-1__link">Assortement</a></div>
                <div class="footer-1__item"><a href="" class="footer-1__link">Articles</a></div>
            </div>
            <div class="footer-1__column">
                <p class="footer-1__title">Customer service</p>
                <div class="footer-1__item"><a href="/" class="footer-1__link">Help</a></div>
                <div class="footer-1__item"><a href="/" class="footer-1__link">Manage cookies</a></div>
                <div class="footer-1__item"><a href="/" class="footer-1__link">Delivery and returns</a></div>
            </div>
            <div class="footer-1__column">
                <p class="footer-1__title">Callback</p>
                <button class="footer-1__btn">Call me back</button>
            </div>
            <div class="footer-1__column">
                <p class="footer-1__title">Our contacts</p>
                <div class="footer-1__item footer-1__address">
                    <a href="tel:+0001234567" class="footer-1__link">+7 (000) 123-45-67</a>
                </div>
                <div class="footer-1__item footer-1__address">
                    <a href="mailto:main@mail.ru" class="footer-1__link">mail.info@mail.ru</a>
                    </div>
                <div class="footer-1__item footer-1__address">
                    <a href="#" class="footer-1__link">Some city, 00</a>
                </div>
            </div>
        </div>
        <p class="footer-1__copyright">© Copyright</p>
    </div>
</footer>