@import '../css/atom-one-light.css';
@import '../../../node_modules/normalize.css/normalize.css';
@import '../../components/scss/burger-menu.scss';
@import '../../components/scss/tabs.scss';
@import '../../components/scss/accordion.scss';
@import '../../components/scss/up-btn.scss';
@import '../../components/scss/search.scss';
@import '../../components/scss/header.scss';
@import '../../components/scss/footer.scss';

$color-primary: #1d2329;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

.site-wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.site-title {
    color: $color-primary;
    font-weight: 400;
    font-size: 38px;
}

.site-header {
    background: $color-primary;
    display: flex;
    align-items: center;
    padding: 7px 18px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.15);
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 3;

    &__social-links {
        margin-left: auto;
    }
    &__menu {
        margin-left: 30px;
        .menu__link {
            color: #f1f1f1;
            text-decoration: none;
        }
    }
}

.site-logo {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.3);
}

.social-links {
    &__link {
        width: 22px;
        height: 22px;
        display: block;
    }
}

.main {
    flex: 1 0 auto;
    display: flex;
    padding-top: 60px;
}

.sidebar {
    width: 300px;
    max-width: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);

    &__components {
        position: fixed;
        width: 300px;
    }
}

.content {
    flex: 1 1 auto;
}

.components {
    padding-top: 15px;

    &__title {
        font-size: 16px;
        text-transform: uppercase;
        color: $color-primary;
        padding-left: 15px;
    }

    &__link {
        text-decoration: none;
        color: #999;
        padding: 10px 15px;
        display: block;
        transition: color .2s, background .2s;
        &:hover {
            color: #333;
            background: #f3f3f3;
        }
    }
}

.article {
    padding: 20px 20px 20px 35px;

    &__title {
        margin: 0;
    }

    &__title2 {
        font-size: 28px;
        margin: 0;
    }

    &__example {
        margin: 30px 0;
        padding: 15px;
        border: 4px solid #f3f3f3;
        position: relative;
    }

    &__frame {
        width: 100%;
    }

    &__text {
        color: #333;
    }

    pre {
        margin-top: 0;
    }

    code {
        padding: 10px 15px;
    }
}

.site-footer {
    background: #eee;
    flex: 0 0 auto;
    padding: 20px 0;
}

.footer-menu {
    display: flex;

    &__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        font-size: 14px;
        
        &:hover {
            color: #777;
        }
    }
}