<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <link rel="stylesheet" href="../css/accordion.css">
</head>
<body>
    <div class="accordion">
        <details class="accordion__item">
            <summary class="accordion__title">Show 1 item</summary>
            <div class="accordion__body">
                1 item content
            </div>
        </details>
        <details class="accordion__item">
            <summary class="accordion__title">Show 2 item</summary>
            <div class="accordion__body">
                2 item content
            </div>
        </details>        
	</div>
    <script src="../js/accordion.js"></script>
</body>
</html>