<form class="cb-form" novalidate>
    <div class="cb-form__item">
        <label for="exampleName" class="cb-form__label">Name</label>
        <input type="text" id="exampleName" name="name" class="cb-form__field"
            autocomplete="off">
        <div class="cb-form__feedback"></div>
    </div>
    <div class="cb-form__item">
        <label for="exampleEmail" class="cb-form__label">Email address</label>
        <input type="email" id="exampleEmail" name="email" class="cb-form__field"
            autocomplete="off">
        <div class="cb-form__feedback"></div>
    </div>
    <div class="cb-form__item">
        <label for="exampleComment" class="cb-form__label">Comment</label>
        <textarea id="exampleEmail" name="comment" class="cb-form__field cb-form__field_area"
            autocomplete="off"></textarea>
        <div class="cb-form__feedback"></div>
    </div>
    <button type="submit" class="cb-form__submit">Submit</button>
</form>