<div class="cards-list">
    <div class="card">
        <img src="images/card.jpg" alt="Card" class="card__img">
        <div class="card__body">
            <h3 class="card__title">Card title</h3>
            <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, quis!</p>
            <button class="card__btn">Do something</button>
        </div>
    </div>
    <div class="card">
        <img src="images/card.jpg" alt="Card" class="card__img">
        <div class="card__body">
            <h3 class="card__title">Card title</h3>
            <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, quis!</p>
            <button class="card__btn">Do something</button>
        </div>
    </div>
    <div class="card">
        <img src="images/card.jpg" alt="Card" class="card__img">
        <div class="card__body">
            <h3 class="card__title">Card title</h3>
            <p class="card__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, quis!</p>
            <button class="card__btn">Do something</button>
        </div>
    </div>
</div>