<footer class="footer">
    <div class="wrapper">
        <div class="footer__columns">
            <div class="footer__column">
                <p class="footer__title">Information</p>
                <div class="footer__item"><a href="/" class="footer__link">Service</a></div>
                <div class="footer__item"><a href="/" class="footer__link">Clients</a></div>
                <div class="footer__item"><a href="/" class="footer__link">Assortement</a></div>
                <div class="footer__item"><a href="" class="footer__link">Articles</a></div>
            </div>
            <div class="footer__column">
                <p class="footer__title">Customer service</p>
                <div class="footer__item"><a href="/" class="footer__link">Help</a></div>
                <div class="footer__item"><a href="/" class="footer__link">Manage cookies</a></div>
                <div class="footer__item"><a href="/" class="footer__link">Delivery and returns</a></div>
            </div>
            <div class="footer__column">
                <p class="footer__title">Callback</p>
                <button class="footer__btn">Call me back</button>
            </div>
            <div class="footer__column">
                <p class="footer__title">Our contacts</p>
                <div class="footer__item footer__address">
                    <a href="tel:+0001234567" class="footer__link">+7 (000) 123-45-67</a>
                </div>
                <div class="footer__item footer__address">
                    <a href="mailto:main@mail.ru" class="footer__link">mail.info@mail.ru</a>
                    </div>
                <div class="footer__item footer__address">
                    <a href="#" class="footer__link">Some city, 00</a>
                </div>
            </div>
        </div>
        <p class="footer__copyright">© Copyright</p>
    </div>
</footer>