<header class="header">
    <div class="header__top">
        <div class="wrapper">
            <div class="header__top-content">
                <div class="header__worktime">
                    <p class="header__text">Some inf</p>
                    <p class="header__text">00:00 - 00:00</p>
                </div>
                <a href="tel:+70001234567" class="header__phone">
                    +7 (000) 123-45-67
                </a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="wrapper">
            <div class="header__bottom-content">
                <a href="#" class="logo">Logo</a>
                <nav class="menu">
                    <button class="toggle-menu">
                        <div class="toggle-menu__lines"></div>
                    </button>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Home</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>