<div class="modal">
    <header class="modal__header">
        <div class="modal__title">Modal title</div>
        <button class="modal__exit modal__close">
            <img src="images/icons/close.svg" alt="Close">
        </button>
    </header>
    <div class="modal__body">Modal content text.</div>
    <footer class="modal__footer">
        <button class="modal__btn modal__btn_close modal__close">Close</button>
        <button class="modal__btn modal__submit">OK</button>
    </footer>
</div>