<div class="tabs">
    <div class="tabs__nav">
        <button class="tabs__nav-btn tabs__nav-btn_active">Tab 1</button>
        <button class="tabs__nav-btn">Tab 2</button>
        <button class="tabs__nav-btn">Tab 3</button>
    </div>
    <div class="tabs__list">
        <div class="tabs__item tabs__item_active">
            <h2>Title - 1 tab</h2>
            <p>Content - 1 tab</p>
        </div>
        <div class="tabs__item">
            <h2>Title - 2 tab</h2>
            <p>Content - 2 tab</p>
        </div>
        <div class="tabs__item">
            <h2>Title - 3 tab</h2>
            <p>Content - 3 tab</p>
        </div>
    </div>
</div>